body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.standardBody {
	padding: 5px;
}
	.standardBody label
	{
		font-size: 18px;
		font-weight: bold;
	}

.pokedexList {
	padding-top: 15px !important;
}

.numberDisplay
{
	float:right;
	padding-right: 10px;
}

.bottomButtonsDiv
{

}

.genderContainer .ui-slider-switch 
{ 
	width: 100px; /*TODO: doesn't work for all device configurations (screen sizes, etc)*/
}
.genderContainer .ui-btn-down-c
{ 
	background: #fa6daa;
	color: #ffffff;
	text-shadow: 0 1px 0 #E24080;
}
.modalWindow
{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1500;
    background: white;
    opacity: 0.7;
}
.aboveModal
{
	z-index: 1501;
}
.ui-loader
{
	z-index: 1501;
}

.mapContentDiv
{
	padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 0;
    left : 0 !important;   
}
.mapCanvas
{
	height:100%;
}

.messageContainer
{
	height: 100%;
	width: 100%;
	text-align: center;
}
.messageContainer > span
{	
	display: inline-block;
	padding: 20px 10px 0 10px;
}